<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<div class="python-card">
    <h1 style="text-align: center; font-size: 30px; color: deepskyblue;">Python</h1>
    <img src="{% static 'image/python pic.jpg' %}" alt="img" style="width: 600px; margin-top: 90px; margin-left: 100px;">
    <div>
    <h2 style="margin-left: 950px; margin-top: -450px; color: dimgray; font-size: 40px;">Python For Beginners</h2>
    <p style="width: 500px; margin-left: 900px; font-size: 20px; color: darkgray;">Welcome! Are you completely new to programming? If not then we presume you will be looking for information about why and how to get started with Python. Fortunately an experienced programmer in any programming language (whatever it may be) can pick up Python very quickly. It's also easy for beginners to use and learn, so jump in!</p>
    <h2 style="margin-left: 1090px; margin-top: 50px; color: cadetblue;">Installing</h2>
    <p style="width: 500px; margin-left: 900px; font-size: 20px; color: darkgray;">Installing Python is generally easy, and nowadays many Linux and UNIX distributions include a recent Python. Even some Windows computers (notably those from HP) now come with Python already installed. If you do need to install Python and aren't confident about the task you can find a few notes on the BeginnersGuide/Download wiki page, but installation is unremarkable on most platforms.</p>    
    <h2 style="margin-left: 1100px; margin-top: 50px; color: cadetblue;">Learning</h2>
    <p style="width: 500px; margin-left: 900px; font-size: 20px; color:black">duration 6months</p>
    <h3 style="margin-left: 900px;color: darkslategray;">fees:35000</h3>

</div>
</div>
</body>
</html>